<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Typography</title>
  </head>
  <body>
    <div class="container vh-100">
      <section class="row contrast">
        <div class="col">
          <div class="card">
            <h1 class="card__title">Card Title</h1>
            <p class="card__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
        <div class="col">
          <div class="button-group">
            <button class="button-group__button">Button 1</button>
            <button class="button-group__button">Button 2</button>
            <button class="button-group__button">Button 3</button>
            <button class="button-group__button">Button 4</button>
          </div>
        </div>
        <div class="col">
          <div class="nav-bar">
            <div class="nav-bar__left">Left</div>
            <div class="nav-bar__center">Center</div>
            <div class="nav-bar__right">Right</div>
          </div>
        </div>
        <div class="col">
          <div class="menu--collapse">
            <ul>
              <li class="menu--collapse__item">Item 1</li>
              <li class="menu--collapse__item">Item 2</li>
              <li class="menu--collapse__item">Item 3</li>
              <li class="menu--collapse__item">Item 4</li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="hero">
            <div class="hero__content">
              <h1 class="t1">Title</h1>
              <h2 class="t2">Subtitle</h1>
              <button class="button"></button>
            </div>
          </div>
        </div>
      </section>

    </div>
  </body>
</html>
