<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Typography</title>
  </head>
  <body>
    <div class="container vh-100">
      <section class="row contrast">
        <div class="col">
          <button class="button--primary">Primary</button>
          <button class="button--secondary">Secondary</button>
          <button class="button--primary button--lg">Primary Large</button>
          <button class="button--primary button--sm">Primary Small</button>
        </div>
        <div class="col">
          <label for="" class="label--lg">Large Input</label>
          <input type="text" class="input-text--lg">
          <label for="" class="label--sm">Small Input</label>
          <input type="text" class="input-text--sm">
          <label for="" class="label-password">Password</label>
          <input type="password" class="input-password">
          <label for="" class="label-email">Email</label>
          <input type="email" class="input-email">
          <label for="" class="label-phone">Phone</label>
          <input type="tel" class="input-phone">
          <label for="" class="label--checkbox">Checkbox</label>
          <input type="checkbox" class="input-checkbox">
          <label for="" class="label--radio">Radio</label>
          <input type="radio" class="input-radio">
          <label for="" class="label--date">Date</label>
          <input type="date" class="input-date">
        </div>
      </section>

    </div>
  </body>
</html>
