<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Typography</title>
  </head>
  <body>
    <div class="container">
      <section class="row contrast">
        <div class="col">
          <h1>Hello, World.</h1>
          <h2>This is my template</h2>
        </div>
        <div class="col">
          <h4>Headline 4</h4>
          <h5>Headline 5</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col">
          <p>Body</p>
          <caption>Caption</caption>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col">
          <h6>Headline 6</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </section>
      <section class="row headings">
        <div class="col">
          <h1>H1 / Heading 1</h1>
          <h2>H2 / Heading 2</h2>
          <h3>H3 / Heading 3</h3>
          <h4>H4 / Heading 4</h4>
          <h5>H5 / Heading 5</h5>
          <h6>H6 / Heading 6</h6>
          <p class="sub-1">Subtitle 1</p>
          <p class="sub-2">Subtitle 2</p>
          <p class="button-text">This is Button Text</p>
          <caption class="caption">This is a caption</caption>
        </div>
      </section>
    </div>
  </body>
</html>
