.container{
  max-width: $max-width;
  @include padding-x($container-padding-x);
  @include padding-y($container-padding-y);
  margin: 0 auto;
}
.container--fluid{
  @extend .container;
  max-width: 100%;
}

.flex--column{
  display: flex;
  flex-direction: column;

}
.flex--row{
  display: flex;
  flex-direction: row;

}
