
$brown :	#5e4f4b;
$orange:	#dc7856;
$green :	#8a8d3a;
$navy  :	#4d6671;
$white :	#f4f1f1;
$black :  #000000;
$cream :	#cfc7c5;

$blue: blue;
$red: red;
$yellow: yellow;

// Theme Colors
$primary: $navy;
$accent : $orange;
$font   : $brown;
$heading: $brown;
$link   : $green;

$success: $green;
$failure: $red;
$info: $blue;
$warn: $yellow;
