$button-border-radius-default: 5px;
$button-font-weight: 600;

$button-font-size-default: .8rem;
$button-padding-x-default: 25px;
$button-padding-y-default: 14px;

$button-border-radius-lg: 20px;
$button-font-size-lg: 1.4rem;
$button-padding-x-lg: 1.8rem;
$button-padding-y-lg: 2rem;
