@import url("https://use.typekit.net/ytm0raf.css");

$font-family-base: gill-sans-nova, sans-serif;
$font-weight-light: 300;
$font-weight-heavy: 600;


$base-font-size: 16px;

$font-scale: (
'h': 5rem,
's': 4rem,
'1': 3rem,
'2': 2.4rem,
'3': 1.8rem,
'4': 1.2rem,
'5': 1rem,
'6': 0.67rem,
);

$button-font-weight: 'semibold';
$button-font-size: 1rem;
